# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
rag-venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
.env
data/documents/*
data/processed/*
data/vectors/*
models/llama/*
*.db
*.sqlite3
*.bin
*.pickle
*.pkl
*.pdf
*.cromadb

# Logs
*.log
logs/

# System
.DS_Store
Thumbs.db
